html, body    {
        width: 80%;
    	height: auto;
    	margin: 30px auto;
    }

.nicho{
	position: absolute;
    width: 70%;
    height: 70%;
    background-color: cyan;

}

.quadrado{
	position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    background-color: tomato;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo{
	position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    background-color: #015793;
    border-radius: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}