	*{
		margin: 0;
		padding: 0;
		font-family: verdana, arial, cursive;
	}


	header, footer{
		width: 100%;
		border-bottom: 1px solid #000;
		background-color: black;
		position: fixed;

	}

	header{
		top: 0;
		height: 80px;
	}

	footer{
		height: 40px;
		border-bottom: 0;
		border-top: 1px solid #000;
		position: fixed;
		bottom: 0;
	}

	main{
		width: 100%;
		height: auto;
		background-color: cyan;
	    font-family: verdana, arial, cursive;

	}
*/
	.links{
		width: 100%;
	    height: 40px;
	    background-color: #fff;
	    align-items: center;
	    justify-content: flex-end;
	    display: flex;
	}

	#logo-uem-header{
		border: 1px solid #000;
		width: 80px;
		height: 39px;
	}

	/*img{
		width: 80px;
		height: 39px;
	}*/

	.nicho{
	position: absolute;
	width: 100%;
	height: 122px;

	}

	.titulo{
		font-size: 14px;
		justify-content: center;
	}

	#content{
		width: 80%;
		margin: 0 auto;

	}
	
	.logo{
		width: 50%;
	    height: 40px;
	    display: flex;
	    position: absolute;
	    color: #fff;
	    font-family: verdana, arial, cursive;
	    font-size: 25px;
	    font-weight: bold;
	    align-items: center;
	    justify-content: center;	}

	.content-btn{
	width: 50%;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	right: 66px;
	top: 1px;
	height: 40px;
	}

	.btn {
		padding: 10px;
		border: 1px solid black;
	    font-size: 14px;
	    color: #fff;
	    display: flex;
	    background-color: black;
	    justify-content: center;
	    align-items: center;
	    border-radius: 15px;	
	    text-decoration: none;
	}

	.btn-form {
		margin: 3px;
		padding: 7px;
		border: 1px solid black;
	    font-size: 14px;
	    color: white;
	    display: flex;
	    background-color: #ff9900 ;
	    justify-content: center;
	    align-items: center;
	    border-radius: 10px;	
	    text-decoration: none;
	}

	.btn:hover{
		background-color: #ff9900;
		color: white;
		border: 2px solid grey;
	}

	.rodape{
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	font-family: verdana, arial, cursive;
	font-weight: bold;
	text-decoration: none;
	color: white;
	left: 1px;
	top: 419px;
	}

	.nicho-rodape{
		height: 80px;
	}

	.nicho-central{
		top: 20%;
		left: 10%;
    	position: absolute;
    	width: 80%;
    	height: auto;
    	display: flex;
    	align-items: center;
    	flex-direction: row;
    	justify-content: center;
	}

	.quadrado-esq{
		display: flex;
    	flex-direction: row;
    	margin-left: 20%;
    	width: 50%;
    	height: auto;
    	border-right: 2px dashed #000;
    	background-color: #f1f1f1;
    	color: #000;
    	align-items: center;
    	padding: 10px;		
	}

	.quadrado-dir{
	    display: flex;
    	flex-direction: row;
    	margin-right: 20%;
    	width: 50%;
    	height: auto;
    	color: #000;
    	align-items: center;
    	justify-content: left;
    	padding: 10px;
	}
	.apresentacao{
		margin-left: 20px;
		text-align: left;
	}



	@media screen and (max-width: 700px){
		.content-btn{
			display: none;
		}
		.btn{
			display: none;
		}
	}